In [43]:
import pandas as pd
import os

# Load the provided CSV file to inspect its contents
path = os.path.join('..','results','merged_data.csv')
data = pd.read_csv(path)

# Get an initial idea of the structure of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007123 entries, 0 to 1007122
Data columns (total 3 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Time stamp  1007123 non-null  object
 1   Value       1007123 non-null  object
 2   Variable    1007123 non-null  object
dtypes: object(3)
memory usage: 23.1+ MB

In [44]:
# Print the first 5 rows of the dataset
data.head()

            Time stamp   Value     Variable
0  07/07/2023 10:41:03  491,00  TR2_Pot_att
1  07/07/2023 10:26:03  498,00  TR2_Pot_att
2  07/07/2023 10:11:03  498,00  TR2_Pot_att
3  07/07/2023 09:56:03  538,00  TR2_Pot_att
4  07/07/2023 09:41:03  505,00  TR2_Pot_att

Preprocessing the data

In [45]:
# Parsing 'Time stamp' into a datetime object
data['Time stamp'] = pd.to_datetime(data['Time stamp'], format='%d/%m/%Y %H:%M:%S')

# Converting 'Value' column to numerical format (replacing commas with dots and converting to float)
data['Value'] = data['Value'].str.replace('.','',regex=False).str.replace(',', '.').astype(float)

# Display the updated dataframe to confirm changes
data.head()

           Time stamp  Value     Variable
0 2023-07-07 10:41:03  491.0  TR2_Pot_att
1 2023-07-07 10:26:03  498.0  TR2_Pot_att
2 2023-07-07 10:11:03  498.0  TR2_Pot_att
3 2023-07-07 09:56:03  538.0  TR2_Pot_att
4 2023-07-07 09:41:03  505.0  TR2_Pot_att