In [3]:
import pandas as pd
import os

# Define a function that will merge all csv files in a given dir
def merge_csv(dir):
    all_dfs = []
    # Traverse all subfolders
    for root, dirs, files in os.walk(dir):
        for file in files:
            # Only look for csv files
            if file.endswith('.csv'):
                path = os.path.join(root, file)
                df = pd.read_csv(path)
                # Drop all empty columns before merging
                df.dropna(axis=1, how='all', inplace=True)
                # Add the filename as a variable
                df['Variable'] = os.path.splitext(file)[0]
                all_dfs.append(df)
    # Return all concatenated data frames without repeating the header row
    return pd.concat(all_dfs, ignore_index=True)

# Run the function and merge the dfs
merged_df = merge_csv(os.path.join('..','data'))

# Save the merged dataframe to a new CSV file
merged_df.to_csv(os.path.join('..','results','merged_data.csv'), index=False)

merged_df.head()

            Time stamp   Value     Variable
0  07/07/2023 10:41:03  491,00  TR2_Pot_att
1  07/07/2023 10:26:03  498,00  TR2_Pot_att
2  07/07/2023 10:11:03  498,00  TR2_Pot_att
3  07/07/2023 09:56:03  538,00  TR2_Pot_att
4  07/07/2023 09:41:03  505,00  TR2_Pot_att